{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block monTitre %} <h1>Voici la liste des animaux</h1> {% endblock %}

{% block body %}

    <ul>
    {% for animal in animaux %}
        <li><a href="{{ path('afficher_animal', {'id':animal.id}) }}">{{ animal.nom }}</a>, animal n°{{ animal.id }}.</li>
        {% for dispose in animal.disposes %}
            {{ dispose.personne.nom }}
        {% endfor %}
    {% endfor %}
    </ul>

    <a href="{{ path('personne') }}">Personnes</a>
    
    
{% endblock %}
