{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for personne in personnes %}
        <h2>{{ personne.nom }}</h2>
        <h3>Liste des animaux possédés : </h3>
        {% for dispose in personne.disposes %}
            <li>{{ dispose.animal.nom }}</Li>
            <div>
                {# <img src="{{ asset('images/' ~ dispose.animal.image)}}"> #}
            </div>
            {# <h2><a href="{{ path('afficher_personne', {'id':dispose.animal.id})}}"></a></h2> #}
            <p>Nombre : {{ dispose.nombre }}</p>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('animal') }}">Retour à la liste des animaux</a>
</div>

{% endblock %}